<html ng-app>
<head>
	<title>Validate Form</title>
</head>
<body>
	<ng-form name="addUserForm" ng-controller="AddUserController">
		<div ng-show="message">{{ message }}</div>
		<div>First name: <input name="firstName" ng-model="user.first" required /></div>
		<div>Last name: <input name="lastName" ng-model="user.last" required /></div>
		<div>Email: <input type="email" ng-model="user.email" required /></div>
		<div>Age: <input type="number" ng-model="user.age" ng-maxLength="3" ng-min="1" /></div>
		<div><button ng-click="addUser()" ng-disabled="!addUserForm.$valid">Submit</button></div>
	</ng-form>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script type="text/javascript">
		function AddUserController($scope) {
			$scope.message = '';
			
			$scope.addUser = function() {
				$scope.message = 'Thanks, ' + $scope.user.first + ', we added you.';
			}
		}
	</script>
</body>
</html>