<!DOCTYPE html>
<html ng-app>
<head>
	<title>Shopping Cart</title>
</head>
<body ng-controller="CartController">
<div ng-repeat="item in items">
	<span>{{ item.title }}</span>
	<input ng-model="item.quantity" >
	<span>{{ item.price | currency }}</span>
	<span>{{ item.price * item.quantity | currency }}</span>
	<button ng-click="remove($index)">Remove</button>
</div>
<script type="text/javascript" src="../angular.js"></script>
<script type="text/javascript">
	function CartController($scope, $location) {
		console.log($location);
		$scope.items = [
			{ title: 'Pebbles', quantity: 8, price: 3.95 },
			{ title: 'Paint pots', quantity: 17, price: 12.95 },
			{ title: 'Prunes', quantity: 5, price: 6.95 }
		];

		$scope.remove = function(index) {
			$scope.items.splice(index, 1);
		};
	}
</script>
</body>
</html>